<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fsu.cs.bugzillaclient"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="8" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".LoginScreen">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"></action>
                <category
                    android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".DisplayBugs"></activity>
        <activity android:name=".DisplayProducts"></activity>
        <activity android:name=".HomeScreen"></activity>
        <activity android:name=".ReportBug"></activity>
        <activity android:name=".SettingsScreen"></activity>
        <activity android:name=".ShowBug"></activity>

    </application>
</manifest>